
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm"*ngIf="showMenu()">
  <div class="container">
    <a class="navbar-brand" routerLink="home">
      <i class="fa fa-home fa-fw mb-2"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="(accountService.currentUser$ | async) !== null">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
          </li>
          <li class="nav-item dropdown">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Financeiro
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" routerLink="receber/lista">Contas a receber</a></li>
              <li><a class="dropdown-item" routerLink="pagar/lista">Contas a Pagar</a></li>
              <li><a class="dropdown-item" routerLink="movimentacoes/lista">Movimentações Financeiras</a></li>
            </ul>
          </li>
        </ng-container>
      </ul>

      <div *ngIf="(accountService.currentUser$ | async) ===  null" class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" routerLink="/user/login">Entrar</button>
        <button type="button" class="btn btn-primary" routerLink="/user/registration">Cadastrar</button>
      </div>


      <ul *ngIf="(accountService.currentUser$ | async) !== null" class="navbar-nav">
        <li class="nav-item dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
            <a class="nav-link dropdown-toggle active" style="cursor: pointer;" id="navbarDropdownMenuLink-4" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>  {{ user.usuarioToken.email | titlecase}} </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
              <a class="dropdown-item" routerLink="#">Perfil</a>
              <a (click)="logout()" class="dropdown-item" routerLink="#">Sair</a>
            </div>
          </li>
        </ul>
    </div>
  </div>
</nav>
