<div class="card rounded shadow-sm p-3">

  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
          <input
        type="text"
        class="form-control"
        placeholder="Filtrar"
        (input)="filtrarContas($event.target)"
        >
        </div>
      </div>
      <div>
        <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
          <i class="fa fa-plus-circle my-1"></i>
          <b class="ml-1 d-none d-sm-block">Novo</b>
        </a>
      </div>
  </div>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
      <th>Codigo</th>
      <th class="d-none d-md-table-cell">Cliente</th>
      <th>Data Compra</th>
      <th class="d-none d-md-table-cell">Data Vencimento</th>
      <th class="d-none d-md-table-cell">Status</th>
      <th class="d-none d-md-table-cell">Valor</th>
      <th>Opções</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>10</td>
        <td>Alex Jussiani</td>
        <td>17/02/2022</td>
        <td>17/03/2022</td>
        <td>Pendente</td>
        <td>R$ 50,00</td>
        <td>
          <button type="button" class="btn btn-danger btn-lg" tooltip="Excluir">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
